.header a {
    text-decoration: none;
}

.header {
    margin-top: 10px;
}

.header img {
    max-height: 250px;
}

.well {
    background-color: inherit;
    text-align: center;
}

#message-btn {
    white-space: normal;
}

article p {
    font-family: Arial, serif;
    font-size: 17px;
}

article h3 {
    font-family: fantasy, cursive, serif;
}

article img {
    margin: 0 auto;
}
