.header a {
    text-decoration: none;
}

.header {
    margin-top: 10px;
}

#svg-header {
    height: auto;
    width: 100%;
    max-height: 250px;
}

/* footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: inherit;
}
/*end footer*/

.well {
    background-color: inherit;
    text-align: center;
}

#message-btn {
    white-space: normal;
}

article p {
    font-family: Arial, serif;
    font-size: 17px;
}

article h3 {
    font-family: fantasy, cursive, serif;
}

article img {
    margin: 0 auto;
}
